@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/OsloSans-Regular.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/OsloSans-Bold.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/OsloSans-Medium.woff') format('woff');
}
