@import './variables';

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;

  @media screen and (min-width: $break-lg) {
    flex-direction: row;
  }
}

.app__content {
  width: 100%;

  @media screen and (min-width: $break-lg) {
    padding-left: $sidebarWidth;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4vh;
}

.main-container__item {
  margin-top: 10px;
  padding: 1em;
}

.main-container__cards {
  display: flex;
  flex: 2 1 800px;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 300px;
  padding: 0;

  @media screen and (min-width: $break-md) {
    padding: 0 0.5em;
  }

  @media screen and (min-width: $break-lg) {
    padding: 0 1em;
  }
}

.main-container__description {
  display: flex;
  flex: 1 1 400px;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 250px;
  padding: 1rem;
}

.topics-grid {
  display: grid;
  flex: 2 1 800px;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 0 1em;

  @media screen and (min-width: $break-md) {
    padding: 1em;
  }

  @media screen and (min-width: $break-lg) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  // Fallback to flexbox
  @media all and (-ms-high-contrast: none) {
    display: flex;
    flex-wrap: wrap;
  }
}

/*
  Reduce opacity on site when district or topic selectors
  are open. Even though district selector dropdown isn't relevant
  on larger screens, the drawer can still be opened while
  the screen is small and then viewport can be changed,
  some media query and pseudo selector (:not) hacks are needed.
*/
.menuIsOpen,
.navigationIsOpen {
  max-height: 100vh;
  overflow-y: hidden;

  main,
  .navigation {
    opacity: 0.2;
  }
}

.navigationIsOpen:not(.menuIsOpen) {
  .navigation {
    opacity: 1;
  }

  @media screen and (min-width: $break-lg) {
    max-height: 100vh;
    overflow-y: hidden;

    main,
    .navigation {
      opacity: 1;
    }
  }
}
