@import './breakpoints';

#app {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-lg) {
    flex-direction: row;
  }
}

#content {
  width: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.main-container__item {
  padding: 5px;
  margin-top: 10px;
}

.main-container__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 300px;
  padding: 0.25em;
  max-width: 1300px;
  flex: 1 1 900px;

  @media screen and (min-width: $break-sm) {
    padding: 0.5em;
  }

  @media screen and (min-width: $break-md) {
    padding: 1em;
  }

  @media screen and (min-width: $break-lg) {
    padding: 2em;
  }
}

.main-container__map {
  display: flex;
  padding: 2rem;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 500px;
  flex: 0 1 400px;
}
