@media print {
  @page {
    margin: 30px;
  }

  body {
    max-width: 1400px;
  }

  table {
    page-break-inside: avoid !important;
  }

  .navigation-topbar__select label,
  .navigation-topbar__select i,
  .card__nav,
  .tabs,
  .related {
    display: none !important;
  }

  .card {
    page-break-inside: avoid !important;
    box-shadow: none !important;

    &__header {
      border-bottom: none !important;
    }
  }

  .main-container__cards {
    flex-basis: 100% !important;
  }

  .graph__tablecontainer {
    position: relative !important;
    display: block !important;
    height: auto !important;
    overflow: auto !important;
    clip: none !important;
  }

  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    color: #000000 !important; /* Black prints faster: */
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  thead {
    display: table-header-group !important;
  }

  tr,
  img {
    page-break-inside: avoid !important;
  }

  p,
  h2,
  h3 {
    orphans: 3 !important;
    widows: 3 !important;
  }

  .card__title,
  .card,
  .card__header,
  .card__headertext {
    page-break-before: always !important;
  }
}
