@import 'colors';
@import 'variables';

table {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;

  td,
  th {
    position: relative;
    padding: 0.6em 1em;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    border-left: 1px solid lighten($color-purple, 65%);
  }

  thead th:not([colspan='1']) {
    text-align: center;
  }

  thead tr:first-child th:first-child {
    background-color: lighten($color-yellow, 25%) !important;
  }

  thead tr:first-child th:first-child,
  th[scope='row'] {
    position: sticky;
    left: 0;
    z-index: 1;
    max-width: 25em;
    font-weight: 500;
    text-align: left;
    background: lighten($color-yellow, 10%);
    border-left: none;
  }

  thead {
    background: lighten($color-yellow, 25%);
  }

  .border-cell:not(:first-child) {
    border-left: 1px solid $color-purple;
  }

  tbody tr:hover td {
    background: lighten($color-purple, 72%);
  }

  tbody tr:hover th {
    background: lighten($color-yellow, 5%);
  }
}

.table-heading {
  position: sticky;
  left: 1rem;
  max-width: 80vw;
  margin: 1rem;
  color: $color-purple;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.tableexport-caption {
  position: sticky;
  left: 0;
  width: 30rem;
  padding: 1rem 1rem 2rem;
  text-align: left;

  button {
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0.45rem 0.75rem;
    border: 1px solid $color-purple;
  }
}
