h2.section-heading {
  color: $color-purple;
  width: 100%;
  padding: 0.5rem 1rem 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: $font-large;

  @media screen and (min-width: $break-md) {
    padding: 1.5rem 1rem 0.5rem;
  }
}

a {
  text-decoration: none;
}

svg a:not([href$='#']) {
  text-decoration: underline;
}

.tick text {
  font-size: $font-small;
  font-weight: 500;
  color: $color-grey-600;
  font-family: monospace;
  text-rendering: geometricPrecision;
}
