h2.section-heading {
  color: $color-purple;
  width: 100%;
  padding: 0.5em 0.5em 0;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

svg a:not([href$='#']) {
  text-decoration: underline;
}
