$break-xs: 340px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;

$sidebarWidth: 20rem;

$font-small: 0.9rem;
$font-body: 1rem;
$font-medium: 1.15rem;
$font-large: 1.45rem;
$font-huge: 2.25rem;
