@import 'colors';
@import 'fonts';
@import 'layout';
@import 'animations';
@import 'variables';
@import 'typography';
@import 'print';

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  background-color: $color-bg;
  box-sizing: border-box;
  font-size: 12.5px;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;

  @media screen and (min-width: 600px) {
    font-size: 13px;
  }

  @media screen and (min-width: $break-md) {
    font-size: 14px;
  }
}

body {
  font-family: 'OsloSans', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button,
input,
select {
  background-color: transparent;
  border-style: none;
  font: inherit;
}

button:disabled > * {
  opacity: 0.35;
}

.visually-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.hidden {
  opacity: 0;
  position: fixed !important;
  visibility: hidden;
}

// Dropdown menu on template D
.graph__dropdown {
  left: 0;
  padding: 1em;
  position: absolute;
  top: 9.75em;

  &__label {
    display: block;
  }

  &__select {
    border: 1px solid black;
    height: 3em;
    margin-top: 0.5em;
    padding-left: 0.5em;
    position: relative;
    width: 7em;

    &::before,
    &::after {
      background: black;
      content: '';
      display: block;
      height: 15px;
      left: 15px;
      position: absolute;
      top: 15px;
      width: 15px;
    }
  }
}

table {
  border-collapse: collapse;
  overflow-x: scroll;
  position: relative;
  width: 100%;

  td,
  th {
    font-weight: 400;
    padding: 0.6em 1em;
    position: relative;
    text-align: right;
    white-space: nowrap;
  }

  td {
    text-align: right;
  }

  thead th:not([colspan='1']) {
    text-align: center;
  }

  thead tr:first-child th:first-child {
    background-color: lighten($color-yellow, 25%) !important;
  }

  thead tr:first-child th:first-child,
  th[scope='row'] {
    background: lighten($color-yellow, 10%);
    font-weight: 500;
    left: 0;
    max-width: 25em;
    position: sticky;
    text-align: left;
    z-index: 1;
  }

  thead {
    background: lighten($color-yellow, 25%);
  }

  caption {
    color: $color-purple;
    font-size: $font-medium;
    font-weight: 400;
    left: 1rem;
    margin: 1rem;
    max-width: 80vw;
    position: sticky;
    text-align: left;
  }
}

/* The default outline styling, for greatest accessibility. */

/* You can skip this to just use the browser's defaults. */
:focus {
  outline: #0088ff auto 2px;
}

/* When mouse is detected, ALL focused elements have outline removed. */

/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :focus {
  outline: none;
}

.graphlegend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  &__item {
    align-items: center;
    display: flex;
    padding: 0 1rem;
    white-space: nowrap;
  }

  &__name {
    white-space: nowrap;
  }

  &__swatch {
    display: inline-block;
    height: 1rem;
    margin-right: 0.4rem;
    width: 1rem;
  }
}

select {
  -webkit-appearance: none;
  border: 1px solid rgba(black, 0.1);
  border-radius: 1px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100%;

  &::after {
    background: red;
    bottom: 0;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 2;
  }
}
