@import 'colors';
@import 'fonts';
@import 'layout';

html {
  background-color: $color-grey-50;
}

#app {
  font-family: 'OsloSans', sans-serif;
}

.theme--light.v-select .v-select__selections {
  color: #8d8da0;
}

h2.section-heading {
  color: $color-purple;
  width: 100%;
  padding: 1.5em 0.5em 0.5em;
}
