@font-face {
  font-family: 'OsloSans';
  src: url('./fonts/OsloSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('./fonts/OsloSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('./fonts/OsloSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

#app {
  font-family: 'OsloSans', sans-serif;
  background-color: #f6f6f6;
}

.theme--light.v-select .v-select__selections {
  color: #8d8da0;
}
